{% extends "LouvreLouvreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Commander{% endblock %}

{% block body %}
    <h2>Commande de billets</h2>
    <div id="containerhome">
<div id="form">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

        <div id="form_booking">
            <div id="dateVisit">
                {{ form_label(form.dateVisit, "Date de votre visite", {'label_attr': {'class': 'datevisitlabel'}}) }}
                {{ form_errors(form.dateVisit) }}

                    {{ form_widget(form.dateVisit, {'attr': {'class': 'datepicker'}}) }}
            </div>
            <div id="type">
                {{ form_label(form.type, "Type de journée", {'label_attr': {'class': 'typelabel'}}) }}
                {{ form_errors(form.type) }}
                    {{ form_widget(form.type, {'attr': {'class': 'typeinput'}}) }}
            </div>
            <div id="email">
                {{ form_label(form.email, "Votre adresse email", {'label_attr': {'class': 'emaillabel'}}) }}
                {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'emailinput'}}) }}
            </div>

        </div>
        <div id="form_tickets">

            {{ form_label(form.tickets, "Ticket", {'label_attr': {'class': 'ticketlabel'}}) }}
            {{ form_errors(form.tickets) }}
            {{ form_widget(form.tickets, {'attr': {'class': 'ticketinput'}}) }}

            <button class="ui-button ui-widget ui-corner-all" id="add_ticket">Ajouter un billet</button>



        </div>



            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.save, {'attr': {'class': 'submitbtn ui-button ui-widget ui-corner-all'}}) }}

            {# Génération automatique des champs pas encore écrits.
               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
               et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}




</div>

    </div>



{% endblock %}