{% extends "LouvreLouvreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Commander{% endblock %}

{% block body %}
    <h2>Commande de billets</h2>
    <div id="containerhome">
        {% for flashMessage in app.session.flashbag.get('notice') %}

            <div class="alert alert-success">
                {{ flashMessage }}
            </div>

        {% endfor %}

        <div class="form">

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

        <div id="form_booking">
            <div class="form-group">
                {{ form_label(form.dateVisit, "Date de votre visite", {'label_attr': {'class': 'datevisitlabel'}}) }}
                {{ form_errors(form.dateVisit) }}

                    {{ form_widget(form.dateVisit, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.type, "Type de journée", {'label_attr': {'class': 'typelabel'}}) }}
                {{ form_errors(form.type) }}
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, "Votre adresse email", {'label_attr': {'class': 'emaillabel'}}) }}
                {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

        </div>
        <div id="tickets_title"><h3>Billets</h3></div>

            {{ form_errors(form.tickets) }}
            {{ form_widget(form.tickets, {'attr': {'class': 'form'}}) }}





        </div><br>
           <a href="#" class="btn btn-success" id="add_ticket">+</a><br><br>


            <div class="col-sm-12">
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.save) }}

           </div><br><br>


            {# Génération automatique des champs pas encore écrits.
               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
               et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}




</div>



    </div>



{% endblock %}