{% extends "LouvreLouvreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Payer{% endblock %}

{% block body %}
    <h2>Paiment de la commande</h2>
    <div id="containerhome">
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
            <p>{{ message }}</p>

        {% endfor %}

        <p>Liste des billets commandés:</p>
        <table class="table">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Age</th>
                <th scope="col">Réduction</th>
                <th scope="col">Prix</th>
            </tr>

        {% for ticket in booking.tickets %}

            <tr>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.surname }}</td>
                <td>{{ ticket.age }}</td>
                <td>{% if ticket.discount == true %}<p>Oui</p>{% else %}<p>Non</p>{% endif %}</td>
                <td>{{ ticket.priceTicket }}</td>

            </tr>
        {% endfor %}

        </table>

        <p>Prix total de la commande : {{ booking.price }}</p>

        <form action="{{ path('order_checkout') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_YyJYkgu1VfUxiveZoEb4Ru3z"
                    data-amount="{{ booking.price }}00"
                    data-name="Billetterie Louvre"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-currency="eur">
            </script>
        </form>
        <br><br>


    </div>



{% endblock %}